#titulounrafprogramacion1 {
    color: rgb(255, 255, 255);
    background-color: #ff9f9f91;
    padding: 15px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.473) 3px 3px 4px;
    font-family: Helvetica, Arial;
    font-style: oblique;
    font-size: 45px;
}

#subtituloejercicios {
    color: rgb(250, 248, 248);
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    text-shadow: rgba(0, 0, 0, 0.473) 3px 3px 4px;;
    font-family: Helvetica, Arial;
    font-style: oblique;
    font-size: 33px;
}

#listaejerciciosunid2 {
    text-align: left;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 15px;
    color: #fc6b6b;
    list-style-type: square;
    font-family: Helvetica;
    font-size: 25px;
    font-style: italic;
    text-shadow:  rgba(0, 0, 0, 0.637) 3px 3px 4px;
}