.body {
    background-attachment: scroll;
    background-size: cover;
}

#form {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 25px;
    background-color: rgba(25, 0, 255, 0.082);
    color: rgb(54, 54, 54);
    border-radius: 20px;
    height: max-content;
    width: max-content;
    font-family: helvetica;
    font-style: oblique;
    text-shadow: rgba(0, 0, 0, 0.24) 2px 2px 3px;
}

#escribir {
    font-family: Helvetica, Arial;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    background-color:  rgba(25, 0, 255, 0.24);
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.575) 2px 2px 3px;
    height: 50px;
    width: 120px;
}
